
html{
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}


.iceland-regular {
  
}


.logo{
    cursor: pointer;
    background-color: black;
    display: flex;
    align-items: left;
    height:5rem;
    max-width: 50%;
}

.logo:hover{
    filter: invert(1);
}

.wrapper{
    width: auto;
    margin-inline: auto;
    max-height: 18.75rem;
}

header ul nav{
    list-style-type: none;
    background-color: black;
    padding: 2rem 10%;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    background-color: black;
    
    display: flex;
    justify-content: space-around;
    align-items:center;
    max-width: 100%;
}

li a{
font-family: "Iceland", sans-serif;
font-style: normal;
font-weight: 500;
font-size: 1rem;
color: white;
text-decoration: none;
}



.nav_links{
    list-style: none;
    }

    .nav_links li{
        display: inline-block;
        padding: 0px 1.25rem
    }

    .nav_links li a{
        transition: all 0.3s ease 0s;
    }
    .nav_links li a:hover{
        color: blueviolet;
    }
    
  

body{
    min-width: 20rem;
    margin: 0 auto;
    color: white;
    font-family: "iceland";
    font-size: 1.5rem;
    line-height: 1.6;
    background-image: url(../media/white-lightning.jpeg);
    background-attachment: fixed;
    height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.projects{
    padding: 0 1em;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .625rem;
    text-align: left;   
}
figure {
    max-width: 500px;
    height: auto;
    
    
}

img{
    border-radius: 8%;
}

.about-me{
    margin:auto;
    padding:1rem;
}
 
    @media only screen and (min-width: 768px) {
        .element {
            width: 50%;
            float: left;
        }
    }

    
    @media only screen and (min-width: 1200px) {
        .element {
            width: 33.33%;
        }
    }